html, body{
    font-family: 'Karla', sans-serif;
}
h1{
    word-wrap: break-word; 
    max-width: 100%;
}
h6{
    font-size: 20px;
}
p{
    font-size: 1rem;
    word-wrap: break-word; 
    max-width: 100%;
}
.card-corpo a, .card-title p{
    word-wrap: break-word; 
    max-width: 100%;
}
.card-container {
    height: 100%;
}
.card-image{
    object-fit: cover;
}
.card-image2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.card-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.card-table {
    height: 100%;
}
.card-usuario p {
    font-size: 14px;
}
#home{
    min-height: 80vh;
}
#blog{
    min-height: 90vh;
}
#painel{
    min-height: 50vh;
}
#login{
    min-height: 70vh;
}
td{
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    -ms-word-break: break-all; 
    word-break: break-word; 
    max-width: 100%;
}

.custom-file-label {
    border: none;
    background-color: transparent;
    padding: 0;
  }
#footer{
    background-color: #EFEFEF;
    bottom: 0;
}
#footer{
    background-color: #EFEFEF;
}
#items-footer{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 15px;
}
#redes2{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes2 li a{
    width: 1.6em;
    height: 1.6em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: #000;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 50%;
    border: 2px solid black
}
#redes2 li{
    list-style: none;
}
#redes2 li a:hover{
    transform: translateY(-10px);
}
#redes2 li{
    list-style: none;
}
#copyright{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
#redes{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes li a{
    font-size: 2em;
    color: #FFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
#redes li a:hover{
    transform: translateY(-10px);
}
#redes li{
    list-style: none;
}
