html, body{
    font-family: 'Karla', sans-serif;
}
h1{
    word-wrap: break-word; 
    max-width: 100%;
    font-weight: 800;
}
h6{
    font-size: 20px;
}
p{
    font-size: 0.8rem;
    word-wrap: break-word; 
    max-width: 100%;
}
#backheader{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 40px;
}
.input-box input{
    height: 50px;
    border-radius: 20px;
    padding-left: 55px;
}
.input-box i {
    position: absolute;
    left: 20px;
    top:13px;
    font-size: 23px;
    color:#000;  
}
#card{
    min-height: 160px;
    border-radius: 40px;
}
.card-corpo a, .card-title p{
    word-wrap: break-word; 
    max-width: 100%;
}
.card-image{
    object-fit: cover;
}
#home{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
#cookies h1{
    font-size: 35px;
}
#cookies h2{
    word-wrap: break-word; 
    max-width: 100%;
    font-weight: 800;
    font-size: 20px;
}
.custom-file-label {
    border: none;
    background-color: transparent;
    padding: 0;
  }
#footer{
    background-color: #EFEFEF;
    bottom: 0;
}
#footer{
    background-color: #EFEFEF;
}
#items-footer{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 15px;
}
#redes2{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes2 li a{
    width: 1.6em;
    height: 1.6em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: #000;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 50%;
    border: 2px solid black
}
#redes2 li{
    list-style: none;
}
#redes2 li a:hover{
    transform: translateY(-10px);
}
#redes2 li{
    list-style: none;
}
#copyright{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

#redes{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes li a{
    font-size: 2em;
    color: #FFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
#redes li a:hover{
    transform: translateY(-10px);
}
#redes li{
    list-style: none;
}
.circle{
    position: fixed;
    background-color: #5BB944;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    bottom: 40px;
    right: 20px;
}
.circle i{
    font-size: 35px;
}